<!doctype html>
<title>Newsaliser</title>
<input id="newArticle" type="text" /><button id="addNew">Add New Article!</button>
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-3.3.5/css/bootstrap.css') }}">
<div class=page>
	{% for article in articles %}
  <h3>{{article.date}} - <a href="/articles/{{article.id}}">{{article.title}}</h3></a>
  <h4>{{article.domain}}</h4>
  Author: <em>{{article.author}}</em>
  <hr>
  {% endfor %}

</div>
<script type="text/javascript">
$(document).ready(function  () {
  $("#addNew").on("click", function  () {
  	var url = $('#newArticle').val();
  	console.log(url);
    var res = $.post("/articles/",url)
    res.done(function  (data) {
      alert(data.result);
      location = '/articles/' + data.id
    })
  });

})
</script>

