<!doctype html>
<title>Newsaliser</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>

<div class=page>
  <h1>{{title}}</h1>
  <h2><a href="/domains/{{domain}}">{{domain}}</h2></a>
  Author: <em>{{author}}</em> - {{date}}
  <br/>
  <button id="merge">Update Article?</button>
  <br>
  Topics:
  <ul> {% for topic in topics %}
  <li> {{topic.score}} - <a href="/topics/{{topic.id}}">{{topic.name}}</a></li>
  {%endfor%}
  </ul>
  No. of Sources: {{nSources}}
  <hr/>
	<button id="toggle">Show Text</button>
	<div id="articleText">{{text}}</div>
  <hr/>
  <h3>Sources</h3>
  {% for source in sources %}
  	<div>
    <span><a href="/articles/{{source.id}}">"{{source.citeText}}" - <em>{{ source.title }}</em></a></span><br/>
    <b>{{source.domain}}</b>  - {{source.author}} - <i>{{source.date}} </i>
    </div>
    <hr/>
  {% endfor %}
  Original Link: <a href="{{url}}"> {{url}}</a>
</div>
<script type="text/javascript">
$(document).ready(function(){
  var content = $("#articleText");
  content.toggle();
  $('#toggle').on("click", function(){
    content.toggle();
  });
  $("#merge").on("click", function  () {
    var res = $.post("/articles/",'{{url}}')
    res.done(function  (data) {
      alert(data.result);
      location = '/articles/' + data.id
    })
  });



})

</script>