{% extends "layout.html" %}
{% block title %}
{{title}} - {{domain}}
{% endblock %}
{% block content %}
  <h2><a href="/domains/{{domain}}">{{domain}}</h2></a>
  <p><em>Author: </em>{{author}}</p>
  <p><em>Date Published: </em> - {{date}}</p>
  <p><em>Original Link: </em><a href="{{url}}" target="_blank"> {{url}}</a></p>
  <p><em>No. of Sources:</em> {{nSources}}</p>
  <p><em>No. of Citations:</em> {{nCitations}}</p>
  <button class="btn btn-primary" id="merge">Update Article?</button>
  <button class="btn btn-primary" id="toggleTopics">Show Topics</button>
  <div class="panel panel-default" id="topics">
    <div class="panel-heading">
      <h3 class="panel-title">Topics:</h3>
    </div>
    <div class="panel-body">
      {% for topic in topics %}
      <span><i><a href="/topics/{{topic.id}}">{{topic.name}}</a></i> ({{topic.score}}), </span>
      {%endfor%}
    </div>
  </div>

	<button class="btn btn-primary" id="toggleText">Show Text</button>
  <div class="panel panel-default" id="articleText">
    <div class="panel-heading">
      <h3 class="panel-title">Article Text:</h3>
    </div>
    <div class="panel-body">
      {{text}}
    </div>
  </div>
  <button class="btn btn-primary" id="toggleContent">Show Original Article</button>
  <div class="panel panel-default" id="articleContent">
    <div class="panel-heading">
      <h3 class="panel-title">Article:</h3>
    </div>
    <div class="panel-body">
      {{html|safe}}
    </div>
  </div>
  <hr/>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Sources:</h3>
    </div>
    <div class="panel-body">
  {% for source in sources %}
    <div>
    <span><a href="/articles/{{source.id}}">"{{source.citeText}}" - <em>{{ source.url }}</em></a></span><br/>
    <b>{{source.domain}}</b>  - {{source.author}} - <i>{{source.date}} </i>
    </div>
    <hr/>
  {% endfor %}

  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Citations:</h3>
    </div>
    <div class="panel-body">
  {% for citation in citations %}
    <div>
    <span><a href="/articles/{{citation.id}}">"{{citation.citeText}}" - <em>{{ citation.url }}</em></a></span><br/>
    <b>{{citation.domain}}</b>  - {{citation.author}} - <i>{{citation.date}} </i>
    </div>
    <hr/>
  {% endfor %}

  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function(){
  function mkLoad(){
        $('#loader').html('<img src=/static/img/SPINNAZ.gif />');
  }
  function unLoad(){
    $('#loader').html('');
  }  
  var text = $('#articleText')
  var content = $("#articleContent");
  var topics = $('#topics');
  topics.toggle();
  text.toggle();
  content.toggle();
  $('#toggleText').on("click", function(){
    text.toggle();
  });
  $('#toggleTopics').on("click", function(){
    topics.toggle();
  });
  $('#toggleContent').on("click", function(){
    content.toggle();
  });
  $("#merge").on("click", function  () {
    mkLoad()
    var res = $.post("/articles/",'{{url}}')
    res.done(function  (data) {
      unLoad();
      location = '/articles/' + data.id
    })
    res.fail(function  (data) {
      unLoad();
      alert(data.responseJSON.error)
      console.log(data.responseJSON)
    })
  });
})
</script>
{% endblock %}