<!doctype html>
<title>Newsaliser</title>
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-3.3.5/css/bootstrap.css') }}">
<div id="loader"></div>
<div class="container">
  <h1> Articles</h1>
  <div class="row">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="article URL" id="newArticle">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="addNew">Add New Article</button>
      </span>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Term" id="searchArticles">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="search">Search for Articles</button>
      </span>
    </div>
  </div>
  <br>

  <div class="row">
  {% for article in articles %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="/articles/{{article.id}}">{{article.title}}</a> - <em>{{article.date}}</h3>
    </div>
    <div class="panel-body">
      <h4>{{article.date}} - {{article.domain}}</h4>
      Author: <em>{{article.author}}</em>
    </div>
  </div>
    {% endfor %}
  </div>
</div>


</div>
<script type="text/javascript">
$(document).ready(function  () {
  function mkLoad(){
        $('#loader').html('<img src=/static/img/SPINNAZ.gif />');
  }
  function unLoad(){
    $('#loader').html('');
  }  
  $("#addNew").on("click", function  () {
    mkLoad()
  	var url = $('#newArticle').val();
  	console.log(url);
    var res = $.post("/articles/",url)
    res.done(function  (data) {
      unLoad();
      alert(data.result);
      location = '/articles/' + data.id
    })
    

  });
  $('#search').on('click',function () {
    var term = $('#searchArticles').val();
    location = '/articles/search/'+term
  })
})
</script>

